body{
  background-image: url('chess.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  
  
  
}
.box{
  position: relative;
  
  width: 143px;
  height: 143px;
  background-color: white;
  border: 1px solid orange;
  display: inline-block;
  margin: -2px;
  
  top: 175px;
  right: 3px;
  

}
.black{
  background-color: black;

  
}